%li[version]
  = link_to version do
    %span.name= version.name
    %span.version= version.version
    - unless version.platform == "ruby"
      %span.platform= version.platform
  - if version.created_at?
    — #{time_tag version.created_at}

  %div{style: "float: right"}
    .btn-group{style: "display: inline-block; vertical-align: middle"}
      = link_to "Download", version_path(version, format: "gem"), class: "btn btn-mini"
      = link_to "Browse", browse_version_path(version), class: "btn btn-mini"
      = link_to "Docs", version_docs_path(version), class: "btn btn-mini"

  - if version.summary?
    %p= version.summary
