%ul.breadcrumb.pull-left
  %li
    = link_to "Root", browse_version_path(@version)
    - unless @path.blank?
      %span.divider /
  - subpaths_to @path do |component, subpath|
    - if current_page? browse_version_path(@version, subpath.presence)
      %li.active
        = component
    - else
      %li
        = link_to_unless_current component, browse_version_path(@version, subpath.presence)
        %span.divider /

- # TODO: These renderings and listings should be cached

- if @entry.is_a? Hash
  %table.table.table-bordered.table-striped.clearfix
    %thead
      %th Name
      %th Size
    %tbody
      - @entry.each do |name, entry|
        %tr
          %td
            = link_to name, browse_version_path(@version, File.join([params[:path], name].compact))
            = content_tag :span, '/', class: 'divider', style: 'color: #999' if entry.is_a? Hash
          %td= number_to_human_size entry.size if entry.respond_to? :size

- else
  %nav.btn-group.pull-right
    = link_to "Raw", raw_version_path(@version, @path), class: "btn"

  - @version.file.data_file(@path) do |file|
    %article.content.clearfix{class: [file.language.try(:default_alias_name)]}
      - if GitHub::Markup.can_render? @entry.name
        .markup~ raw GitHub::Markup.render @entry.name, file.read

      - elsif file.image?
        .image= image_tag raw_version_path(@version, @path)

      - elsif file.safe_to_colorize?
        ~ raw file.colorize options: {linenos: "table", lineanchors: "L", anchorlinenos: true}

      - else
        .raw
          %pre~ file.data
