%p= @version.summary

= simple_format @version.description if @version.description

%h2 Bundler

%pre gem #{@version.name.inspect}, #{@version.file.metadata.version.spermy_recommendation.inspect}

%h2 Information

%dl.dl-horizontal
  %dt Homepage
  %dd= link_to @version.file.metadata.homepage

  %dt Email
  %dd= Array.wrap(@version.file.metadata.email).map { |email| mail_to email }.to_sentence

  %dt Date
  %dd= time_tag @version.file.metadata.date

.row
  - if @version.file.metadata.dependencies.present?
    .span6
      %h2 Dependencies
      %ul
        - @version.file.metadata.dependencies.each do |dependency|
          %li
            = link_to dependency.name, project_path(dependency.name)
            = dependency.requirement

  - if @version.file.metadata.development_dependencies.present?
    .span6
      %h2 Dev Dependencies
      %ul
      - @version.file.metadata.development_dependencies.each do |dependency|
        %li= link_to dependency.name, project_path(dependency.name)
