!!!
%html{lang: "en"}
  %head
    %title Rubygems
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "rubygems #{controller_name.parameterize} #{controller_name.parameterize}-#{action_name.parameterize}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Rubygems", root_path, class: :brand
          %ul.nav
            = activated_content_tag :li, versions_path do
              = link_to "Gems", versions_path
          = form_tag versions_path, method: :get, class: "navbar-form pull-right form-search" do
            = search_field_tag :search, params[:search], class: "search-query", placeholder: "Search"

    .container
      ~ yield

    %footer.footer
      .container{style: "border-top: 1px solid #eee; margin-top: 1em; padding: 1em 0"}
        Made by #{mail_to "sj26@sj26.com", "Samuel Cochran"} at Railscamp XI
