= extends "application" do
  %h1{style: "padding-bottom: 0.5em"}
    = @version.name
    = @version.version
    = @version.platform unless @version.platform == "ruby"

  .pull-right
    = link_to "Download", version_path(@version, format: "gem"), class: "btn"

  %ul.nav.nav-tabs
    = activated_content_tag :li, other_version_path(@version), exact: true do
      = link_to "Versions", other_version_path(@version)
    = activated_content_tag :li, version_path(@version), exact: true do
      = link_to "Information", version_path(@version)
    = activated_content_tag :li, browse_version_path(@version) do
      = link_to "Browse", browse_version_path(@version)
    = activated_content_tag :li, version_docs_path(@version) do
      = link_to "Docs", version_docs_path(@version)

  ~ yield
